@model CuaHangThucPham.Models.ThucPham

@{
    ViewBag.Title = "ChiTietThucPham";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Chi tiết thực phẩm</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên thực phẩm:

        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThucPham)
        </dd>

        <dt>
            Giá bán:

        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.GiaBan ) VNĐ
        </dd>

        <dt>
            Mô tả: 
        </dt>

        <dd style="width: 600px; text-align: justify">
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            Ảnh bìa:
        </dt>

        <dd>
            <img src="@Url.Content("~/Hinhsanpham/" + Model.AnhBia)" width="165px" alt="Alternate Text" />
        </dd>

        <dt>
            Ngày cập nhật: 
        </dt>

        <dd>
           @String.Format("{0:đ/MM/yyyy}", Model.NgayCapNhat) 
        </dd>

        <dt>
            Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            Loại thực phẩm: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiThucPham.TenLoai)
        </dd>
    </dl>
</div>
<p>
  
    @Html.ActionLink("Quay trở về", "ThucPham")
</p>
