<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/css/shop-homepage.css" rel="stylesheet" />
    <script src="~/Assets/js/bootstrap.js"></script>
    <script src="~/Assets/js/jquery.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <link href="~/Assets/css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .navbar-inverse {
            background-color: #742f1c;
            border-color: #742f1c;
        }
        .TrangChu {
            border-style: solid;
            background-color: #62bb46;
            border: none;
            color: white;
            border-radius: 8px
        }
        .navbar-inverse .navbar-brand {
            color: white;
        }
        .DiaChi {
            padding-top: 14px;
            padding-left: 28px;
            color: white;
        }
        .DangNhap{
            font-weight: 700;
            color: white;
        }
        .navbar-inverse .navbar-nav > li > a {
            color: white;
        }
        .haha {
            width: 130px;
            padding-right: 1px;
        }
        .huhu {
            
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand TrangChu" href="@Url.Action("Index","CuaHang")">Cửa Hàng Thực Phẩm HD</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="DiaChi">
                        <p>
                            Địa chỉ: Số ** Nguyễn Văn A, Phường **, Quận ****, Hồ Chí Minh, Việt Nam
                        </p>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    <li class="DangNhap">
                        <a href="@Url.Action("Login","Admin")">
                            Admin
                        </a>
                    </li>
                    <li class="DangNhap">
                        <a href="@Url.Action("DangNhap","Nguoidung")">
                            Đăng nhập
                        </a>
                    </li>
                    <li class="DangNhap">
                        <a href="@Url.Action("DangKy","Nguoidung")">
                            Đăng Ký
                        </a>
                    </li>
                    <li class="TrangChu">
                        <a href="@Url.Action("GioHang","GioHang")" style="color:white;font-weight:bold;text-decoration:none;">
                            Giỏ hàng (@ViewBag.TongSoLuong)
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <div class="list-group haha">
                    <p>Các loại thực phẩm</p>
                    @Html.Action("LoaiThucPham", "CuaHang")
                    
                </div>
            </div>

            <div class="col-md-9">


                <div class="row">

                    @RenderBody()

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Cua Hang Thuc Pham 2021</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/Assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Assets/js/bootstrap.min.js"></script>
</body>
</html>
